{% extends "app/layoutManager.html" %} {% block content %}

<style>
  table,
  th,
  td {
    border: none;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    padding: 10px;
  }

  th {
    background-color: #00adb5;
    color: white;
    padding: 15px;
  }
  tr {
    border: 1px solid;
    border-color: white;
    background-color: #393e46;
    color: white;
  }
  tr > td {
    min-width: 240px;
    /* border: 1px solid black; */
  }
  tr > td:first-child {
    min-width: 240px;
  }

  .search {
    float: right;
  }

  .input[type="text"] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid;
    font-size: 17px;
  }
  search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search button:hover {
    background: #ccc;
  }

  .button {
    padding: 10px 20px;
    margin: 5px 2px;
    display: inline-block;
    width: 150px;
    border: none;
    border-radius: 12px;
    background-color: #00adb5;
    color: white;
  }

  button:hover {
    background-color: #367e81;
  }
</style>

<div>
  <br />
  <h1 style="text-align: center"><strong>Purchase Order List</strong></h1>
  <br />
  <form class="margintop" action="arsearchPo" method="POST">
    {% csrf_token %}
    <input
      type="text"
      placeholder="Search here..."
      aria-label="Search here.."
      name="searched"
      )
    />
    <button class="btn btn-info">Search</button>
  </form>
  <br />
</div>

<!-- PENDING -->
<div>
  <h4>Pending Table</h4>
  <table>
    <thead>
      <th>No.</th>
      <th>Purchase Order ID</th>
      <th>Staff ID</th>
      <th>Status</th>
      <th>Selection</th>
    </thead>

    {% for po in po_list %} {%if po.poStatus == 'Pending' %}
    <tr>
      <td>{{po}}</td>
      <td>{{po.purchaseOrderID}}</td>
      <td>{{po.staffID}}</td>
      <td>{{po.poStatus}}</td>
      <td>
        <form class="margintop" action="arselectPo" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            name="{{po.purchaseOrderID}}"
            value="{{po.purchaseOrderID}}"
            class="btn btn-info"
          >
            Select</button
          ><br />
        </form>
      </td>
    </tr>
    {%endif%} {% endfor %}
  </table>
</div>

<!-- APPROVED -->
<div>
  <h4>Approved Table</h4>
  <table>
    <thead>
      <th>No.</th>
      <th>Purchase Order ID</th>
      <th>Staff ID</th>
      <th>Status</th>
      <th>Selection</th>
    </thead>

    {% for po in po_list %} {%if po.poStatus == 'Approved' %}
    <tr>
      <td>{{po}}</td>
      <td>{{po.purchaseOrderID}}</td>
      <td>{{po.staffID}}</td>
      <td>{{po.poStatus}}</td>
      <td>
        <form class="margintop" action="arselectPo" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            name="{{po.purchaseOrderID}}"
            value="{{po.purchaseOrderID}}"
            class="btn btn-info"
          >
            Select</button
          ><br />
        </form>
      </td>
    </tr>
    {%endif%} {% endfor %}
  </table>
</div>

<!-- REJECTED -->
<div>
  <h4>Rejected Table</h4>
  <table>
    <thead>
      <th>No.</th>
      <th>Purchase Order ID</th>
      <th>Staff ID</th>
      <th>Status</th>
      <th>Selection</th>
    </thead>

    {% for po in po_list %} {%if po.poStatus == 'Rejected' %}
    <tr>
      <td>{{po}}</td>
      <td>{{po.purchaseOrderID}}</td>
      <td>{{po.staffID}}</td>
      <td>{{po.poStatus}}</td>
      <td>
        <form class="margintop" action="arselectPo" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            name="{{po.purchaseOrderID}}"
            value="{{po.purchaseOrderID}}"
            class="btn btn-info"
          >
            Select</button
          ><br />
        </form>
      </td>
    </tr>
    {%endif%} {% endfor %}
  </table>
</div>

<br />
<form class="margintop" action="arbacktohome" method="GET">
  <button type="submit" class="button">Back</button><br />
</form>
{% endblock %}
