{% extends "app/layoutEmployee.html" %}

{% block content %}
<style>
    table, th,td {
       border:none;
       border-collapse: collapse;
       border-left: 1px solid white;
       border-right: 1px solid white;
       text-align: center;
       padding:10px;
   } 
   
   th {
       background-color: #00ADB5;
       color: white;
       padding:15px;
   
   
   }
   tr{
       border:1px solid;
       border-color: white;
       background-color: #393E46;
       color: white;
   }
   tr > td {
       min-width: 240px;
       /* border: 1px solid black; */
   }
   tr > td:first-child {
       min-width: 240px;
   }
   
   .search{
       float:right;
   }
   
   .input[type=text]{
       float: right;
       padding: 6px;
       margin-top: 8px;
       margin-right: 16px;
       border: 1px solid;
       font-size:17px;
   
    }
    search button{
       float: right;
       padding: 6px 10px;
       margin-top: 8px;
       margin-right: 16px;
       background: #ddd;
       font-size: 17px;
       border: none;
       cursor: pointer;
    }
   
    .search button:hover{
       background: #ccc;
    }
    .button{
            padding : 10px 20px;
            margin : 5px 2px;
            display: inline-block;
            width: 150px;
            border: none;
            border-radius: 12px;
            background-color:#00ADB5;
            color: white;
            
    
    }
    
    button:hover{
        background-color: #367e81;
    }
</style>

<div>
    <br/>
    <h1 style="text-align: center;" ><strong> Quotation Details </strong></h1>
    <br/>
  <form class="margintop" action = 'arsearchquo' method='POST'>
    {% csrf_token %} 
    <input type="text" placeholder="Search here..." aria-label="Search here.." name = "searched")>
    <button class="btn btn-info">Search</button>
    </form>

<table>
{% if searched %}
    {% if quotationID %}
        <em>You searched for {{searched}}</em>
        <br/>
        <thead>
            <th>No.</th>
            <th>Quotation ID</th>
            <th>Staff ID</th>
            <th>Status</th>
            <th>Selection</th>
        </thead>
            {% for quotation in quotationID %}
                <tr>
                    <td>{{quotation}}</td>
                    <td>{{quotation.quotationID}}</td>
                    <td>{{quotation.staffID}}</td>
                    <td>{{quotation.quotationStatus}}</td>
                    <td>
                        <form class="margintop" action='arselectquo' method='POST'>
                            {% csrf_token %} 
                            <button type="submit" name={{quotation.quotationID}} value={{quotation.quotationID}}  class="btn btn-info">Select</button><br />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p style="color:red"><em>ID "{{searched}}"" not found, Please try again</em></p>
        {% endif %}
{% else %}
    <p style="color:red"><em>Please enter an ID to search</em></p>
    <br/>
{% endif %}
</div>
</table>

<br>
<form class="margintop" action='arbacktoHome' method='GET'>
  <button type="submit" class="button">Back</button><br />
</form>
{% endblock %}