{% extends "app/layout.html" %}

{% block content %}


<style>
 table, th,td {
    border:none;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    padding:10px;
} 

th {
    background-color: #00ADB5;
    color: white;
    padding:15px;


}
tr{
    border:1px solid;
    border-color: white;
    background-color: #393E46;
    color: white;
}
tr > td {
    min-width: 240px;
    /* border: 1px solid black; */
}
tr > td:first-child {
    min-width: 240px;
}

.search{
    float:right;
}

.input[type=text]{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid;
    font-size:17px;

 }
 search button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
 }

 .search button:hover{
    background: #ccc;
 }
</style>

<div>
    <h2 style="text-align: center;"> <strong>Purchase Order List</strong></h2>
    <br/>
  <form class="margintop" action = 'searchPo' method='POST'>
    {% csrf_token %} 
    <input type="text" placeholder="Search here..." aria-label="Search here.." name = "searched")>
    <button class="btn btn-info">Search</button>
    </form>
    <br/>
</div>

<div>
<table>
<thead>
    <th>No.</th>
    <th>Purchase Order ID</th>
    <th>Staff ID</th>
    <th>Status</th>
    <th>Selection</th>
</thead>

{% for po in po_list %}
    {% if po.totalPrice >= 1 %}
    <tr>
        <td>{{po}}</td>
        <td>{{po.purchaseOrderID}}</td>
        <td>{{po.staffID}}</td>
        <td>{{po.poStatus}}</td>
        <td>
            <form class="margintop" action='selectPo' method='POST'>
                {% csrf_token %} 
                <button type="submit" href="{% url 'selectPo' po.purchaseOrderID %}" name="selected" class="btn btn-info">Select</button><br />
            </form>
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>
</div>

<br>
<form class="margintop" action='backtoHome' method='GET'>
  <button type="submit" class="btn btn-info">Back</button><br />
</form>
{% endblock %}


<!-- <td>
    <a href="{% url 'view_one_PO' Pur.po_id %}" class="btn-primary btn-md btn-block mx-auto" style="height: 25px; width: 100px; border-radius: 50px;">View Details</a>
</td> -->