{% extends "app/layout.html" %}

{% block content %}
<div class="formadditem" >
    <br>
    <hi><p><strong>Quotation Added!</strong></p></hi>  

    <p>Quotation ID: {{quotationID}}</p>
    <p>Staff ID: {{staffID}}</p>
    <p>Vendor ID: {{vendorID}}</p>
    <p>Validity Date: {{validityDate}}</p>
    <p>Quantity Provided: RM{{qtyProvided}}</p>
    <p>Total Price: RM{{totalPrice}}</p>

    {%for i in quo_list%}
        <p>Quotation ID: {{quotationID}}</p>
        <p>Item ID: {{itemID}}</p>
        <p>Vendor ID: {{vendorID}}</p>
        <p>Item Name: {{itemName}}</p>
        <p>Item Price per Unit(RM): RM{{itemPriceperUnit}}</p>
    {%endfor%}
    
    <form class="additemsubmission margintop" action="additemdetails" method="POST">
        <div class="margintop">
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
        </div>
    </form>

<div class="formadditem" >
        <br>
        <hi><p><strong>Add Item Form</strong></p></hi>
    
        <form class="additemsubmission" action="addnewitem" method="POST">
          {% csrf_token %}
    
            <div class="row margintop">
                <p><input type="text" name="{{quotationID}}" placeholder="{{quotationID}}"  class="form-control" /></p>
                <p><input type="text" name="itemID"  placeholder='Item ID' class="form-control" ></p>
                <p><input type="text" name="{{vendorID}}"  placeholder='{{vendorID}}' class="form-control" ></p>
                <p><input type="text" name="itemName"  placeholder='Item Name' class="form-control" ></p>
                <p><input type="text" name="itemPriceperUnit"  placeholder='Item Price per Unit' class="form-control" ></p>
            </div>
    
            <div class="margintop">
                <button type="submit" class="btn btn-success btn-square buttonsize">Next</button>
                <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
            </div>
        </form>
</div>

</div>

{% endblock %}
