{% extends "app/layout.html" %}

{% block content %}

<div class="formadditem" >
    <br>
    <hi><p><strong>Add Item Form</strong></p></hi>

    <form class="additemsubmission" action="additemconfirmation" method="POST">
      {% csrf_token %}

        <div class="row margintop">
            <p><input type="text" name='quotationID' placeholder='Quotation ID'  class="form-control" /></p>
		        <p><input type="text" name="staffID"  placeholder=' Staff ID' class="form-control" ></p>
		        <p><input type="text" name="vendorID"  placeholder='Vendor ID' class="form-control" ></p>
            <p><input type="text" name="totalPrice"  placeholder='Total Price' class="form-control" ></p>
            <p><input type="text" name="validityDate"  placeholder='Validity Date' class="form-control" ></p>
            <p><input type="text" name="qtyProvided"  placeholder='Quantity Provided' class="form-control" ></p>
          </div>

        <div class="margintop">
            <button type="submit" class="btn btn-success btn-square buttonsize">Next</button>
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
        </div>

    </form>

</div>
 
{% endblock %}
