{% extends "app/layout.html" %}

{% block content %}
<div class="formadditem" >
    <br>
    <hi><p><strong>Item Added!</strong></p></hi>  

    <p>Quotation ID: {{quotationID}}</p>
    <p>Staff ID: {{staffID}}</p>
    <p>Vendor ID: {{vendorID}}</p>
    <p>Validity Date: {{validityDate}}</p>
    <p>Total Price: RM{{ totalPrice }}</p>

    <form class="additemsubmission margintop" action="additemdetails" method="POST">
        <div class="margintop">
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
        </div>

    </form>

</div>

{% endblock %}
