{% extends "app/layout.html" %}

{% block content %}

<h1><strong>{{ title }}</strong></h1>
<br>
<p>This system have four actors, which are 
Purchaser, Employee, Finance Officer, Manager. 
Vendor will pass the quotation to Purchaser, which Purchaser will submit the quotation into system. After that, Employee will verify it & Finance Officer will create a new Purchase Order based on the approved quotation.
Lastly, the Manager will approve/reject the Purchase Order before it will be passed down to another system.</p>

{% endblock %}
