{% extends "app/layout.html" %}

{% block content %}

<h1><strong>{{ title }}</strong></h1>
<!-- <h3>Waiee Zainol</h3> -->
<br>
<div>
    <h3>Fahim Anwar Aqil Bin Firdaus</h3>
    <address>
        <abbr>Student ID:</abbr>
        1191103230 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Muhammad Waiee bin Zainol</h3>
    <address>
        <abbr>Student ID:</abbr>
        03-83125262 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Muhammad Afif Afham bin Mohd Asri</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201303394 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Nor Hanisa binti Hishamuddin</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201100841 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

{% endblock %}
