{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Purchasing System</h1>
</div>

<!-- Purchaser -->
<div class="row">
    <div class="col-md-4">
        <h2>Purchaser</h2>
        <p>
            p0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Module 1
        </p>
        <p>
            Module 2
        </p>
    </div>
</div>

<!-- Employee -->
<div class="row">
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>
            e0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Module 1
        </p>
        <p>
            Module 2
        </p>
    </div>
</div>

<!-- Finance Officer -->
<div class="row">
    <div class="col-md-4">
        <h2>Finance Officer</h2>
        <p>
            f0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Module 1
        </p>
        <p>
            Module 2
        </p>
    </div>
</div>

<!-- Manager -->
<div class="row">
    <div class="col-md-4">
        <h2>Manager</h2>
        <p>
            m0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            View Purchase Order
        </p>
        <p>
            Approve/Reject Purchase Order
        </p>
    </div>
</div>

{% endblock %}
