{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1><strong>Purchasing System</strong></h1>
</div>

<!-- Purchaser -->
<div class="row">
    <div class="col-md-4">
        <h2>Purchaser</h2>
        <p>
            Fahim - p0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Create Quotation
        </p>
        <p>
            View Quotation Status
        </p>
    </div>
</div>

<!-- Employee -->
<div class="row">
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>
            Hanisa - e0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            View Quotation Details
        </p>
        <p>
            Approve/Reject Quotation
        </p>
    </div>
</div>

<!-- Finance Officer -->
<div class="row">
    <div class="col-md-4">
        <h2>Finance Officer</h2>
        <p>
            Afif - f0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Create Purchase Order
        </p>
        <p>
            View Purchase Order Status
        </p>
    </div>
</div>

<!-- Manager -->
<div class="row">
    <div class="col-md-4">
        <h2>Manager</h2>
        <p>
            Waiee - m0001
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            View Purchase Order Details
        </p>
        <p>
            Approve/Reject Purchase Order
        </p>
    </div>
</div>

{% endblock %}
